<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<i th:text="${message}"></i>
<form action="/login/check" method="post">
     <p>User name: </p> <label>
    <input type="text" name="username">
</label>
    <label>
        <input type="password" name="password">
    </label>
    <p><label>
        <input type="checkbox" name="remember-me">
    </label>Remember me?</p>
    <button >login </button>
    <a th:href="@{/logout}">Đăng xuất (Exit)</a>
</form>
</body>
</html>